*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

header{
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 1em 1.5em;
}
.logo{
    width: 8rem;
    height: auto;
}

img.fadeOut {
    -webkit-animation-name: fadeout;
    animation-name: fadeout;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-direction: alternate;
  }
  @-webkit-keyframes fadeout {
    0% {
      scale: 1.2;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes fadeout {
    0% {
      scale: 1.2;
    }
    100% {
      scale: 1;
    }
  }

  .not-for-mobiles{
    display: none;
    font-size: 1.2rem;
    padding: 1em;
    color: #fff;
  }

  @media screen and (max-width: 600px){
    #root{
      background-color: #3182ce;
      height: 100vh;
      padding: 0;
      margin: 0;
    }
    #root > *:not(.not-for-mobiles){
      display: none;
    }

    .not-for-mobiles{
      display: block;
    }
    
  }